%serif {
  font-family: $font-serifs;
}

%sans {
  font-family: $font-sans;
}

%mono {
  font-family: $font-mono;
}

%uppercase {
  text-transform: uppercase;
}

%amp {
  font-family: $font-amp;
}

%bold {
  font-weight: bold;
}

%italic {
  font-style: italic;
}

%measure-to-columns {
  @include column-width(18em);
}
