%sans {
  font-family: $font-sans;
}

%serif {
  font-family: $font-serifs;
}

%gothic {
  font-family: $font-gothic;
}

%slab {
  font-family: $font-slab;
}

%slab-condensed {
  font-family: $font-slab-condensed;
}

%script {
  font-family: $font-script;
}


%mono {
  font-family: $font-mono;
}

%lowercase {
  text-transform: lowercase;
}

%uppercase {
  text-transform: uppercase;
}

%titlecase {
  text-transform: capitalize
}

%amp {
  font-family: $font-amp;
}

%bold {
  font-weight: bold;
}

%italic {
  font-style: italic;
}

%measure-to-columns {
  @include column-width(18em);
}
