html.pl {
  overflow: visible;
  font-size: $mainFontSize;
  body {
    overflow: visible;
  }
}

// COLORS
.sg-swatch {
  @extend %no-bullets;
  &.black { background-color: $black; }
  &.white { background-color: $white; }
  &.red { background-color: $red; }
  &.blue { background-color: $blue; }
  &.lavender { background-color: $lavender; }
  &.gray { background-color: $gray; }
  &.gray-dark { background-color: $gray-dark; }
  &.gray-light { background-color: $gray-light; }
  &.antique { background-color: $antique; }
  &.orange { background-color: $orange; }
  &.orange-vivid { background-color: $orange-vivid; }
  &.yellow { background-color: $yellow; }
  &.green { background-color: $green; }
}
.sg-label {
  @include ellipsis();
}

// TYPE
// .font-smallcaps {
//   @extend %small-caps-subtitle;
// }
// .font-secondary {
//   @extend %slab-medium;
// }
// .font-secondary-smallcaps {
//   @extend %slab-sc-medium;
// }

// MODULAR SCALE
.sg-ms {
  li {
    white-space: nowrap;
  }
  @for $i from 0 through 10 {
    .ms-#{$i} {
      font-size: ms($i);
    }
  }
}
