@include animate(rotate) {
  from {
    @include transform(rotate(0deg));
  }
  to   {
    @include transform(rotate(360deg));
  }
}

#color-schemer {
  #byrd-car {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
  }
  #wheel {
    @include transform-origin(center);
    @include experimental(animation, rotate 100s linear 0s infinite none);
    mix-blend-mode: color;
  }

  h1, h2 {
    @extend %h3;
    @extend %gothic;
    @extend %lowercase;
    text-align: right;
    position: absolute;
    width: 348px;
    left: 30px;
    color: $red;
  }
  h1 {
    top: 2.7em;
    .word3, .word4 {
      color: $blue;
    }
  }
  h2 {
    top: 3.5em;
    padding-right: 12px;
    color: $orange-vivid;
  }

}
