%giant-steps-image-parent {
  position: absolute;
  width: 100%;
  height: 83%;
  border: 0.75em solid $red;
  padding: 2em;
  left: 0;
  bottom: 0;
  margin: 0;
}
%giant-steps-image-child {
  list-style-type: none;
  display: block;
  width: 100%;
  height: 100%;
  background: $white;
}

.giant-steps {
  h1 {
    @extend %slab-condensed;
    text-transform: uppercase;
    @extend %h2;
    color: $red;
    letter-spacing: -2px;
  }
}

#component-style-guide {
  ul {
    @extend %giant-steps-image-parent;
  }
  li {
    @extend %giant-steps-image-child;
    position: relative;
    &:not(.current-fragment) {
      display: none;
    }
    h3 {
      position: absolute;
      top: -1em;
      @extend %slab-condensed;
      color: $red;
    }
  }
}

#looks-like-jazz {
  .train {
    @extend %giant-steps-image-parent;
  }
  .illustration {
    @extend %giant-steps-image-child;
  }

}
