#contact {
  position: relative;
  hgroup {
   background-color: $orange;
   padding: 0.2em;
   height: 8em;
   padding: 1em 0.2em 0;
  }
  h1 {
    font-family: $font-slab;
    color: $red;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
    .word1 {
      display: inline-block;
      @include transform-origin(100%, 0%);
      @include transform(rotate(-90deg) scale(0.35));
      margin-left: -2em;
    }
    .word3{
      position: relative;
      top: -0.7em;
      left: 3em;
      [class^="char"] {
        &:nth-of-type(1n + 5) {
          position: relative;
          top: 0.7em;
          left: -5.64em;
        }
      }
    }
  }
  h2 {
    color: $antique;
    text-align: right;
    margin: -0.33em 0 00;
    text-transform: uppercase;
  }
  ul {
    text-transform: uppercase;
    list-style: none;
    margin-left: 0;
    margin-top: 1em;
    width: 46%;
    margin-left: 50%;
    float: right;
    li {
      margin-bottom: 0.5em;
      display: inline-block
    }
  }
  .hat-fool {
    position: absolute;
    bottom: -0.5em;
    left: -0.5em;
    @include filter( grayscale(1));
    // opacity: 0.8;
    mix-blend-mode: darken;
    clip: rect(1.5em, 15em, 13em, 17px);
  }
}
