#content-first-design {
  background: {
    image: image-url('mingus-5.jpg');
  }
  h1 {
    @extend %h3;
    @extend %uppercase;
    font-weight: bold;
    line-height: 0.9;
    position: relative;
    top: 2em;
    left: 30px;
    > {
      [class^="word"] {
        display: block;
        width: 4em;
        height: 0.7em;
        overflow: hidden;
        position: relative;
        @include transform-origin( 0 50% );
        opacity: 0;
        span {
          display: block;
          position: relative;
        }
      }
      .word1 {
        @include rotate(-10deg);
        height: 0.4em;
      }
      .word2 {
        @include rotate(-10deg);
        height: 0.5em;
        left: 12px;
        top: -3px;
        span {
          top: -2px;
          @include rotate(2deg);
        }
      }
      .word3 {
        @include rotate(-10deg);
        height: 0.6em;
        top: 0;
        left: -6px;
        span {
          top: -4px;
          @include rotate(4deg);
        }
      }
      .word4 {
        @include rotate(-8deg);
        height: 1.2em;
        top: 1px;
        left: -25px;
        span {
          @include rotate(-6deg);
        }
      }
      .word5 {
        top: -15px;
        left: 25px;
        height: 1.2em;
      }
    }
  }
  &.present {
    h1 {
      > {
        @for $i from 1 through 5 {
          .word#{$i} {
            $delay: ($i * 0.5) + 0.25s;
            @include experimental(animation, fade-in 0.33s ease-in $delay 1 forwards);
          }
        }
      }
    }
  }
  ul {
    margin: 0;
    position: absolute;
    top: 11em;
    left: 30px;
    text-align: left;
    @extend %uppercase;
    color: $yellow;
    mix-blend-mode: screen;
    li {
      list-style-type: none;
    }
  }
  .asterisk {
    color: $white;
  }
  .bs-detector {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    color: $white;
    text-transform: lowercase;
    font-style: italic;
  }
}
