#organizing-aesthetics {
  background: {
    image: image-url('sam-rivers-art.jpg'),  image-url('sam-rivers-head.jpg');
    size: contain, 16%;
    position: 0 440%, 759px 12px;
  }
  h1 {
    @extend %h2;
    @extend %gothic;
    @extend %uppercase;
    margin: 0;
    text-align: right;
    width: 706px;
    position: absolute;
    top: 2em;
    left: 0.3em;
    .word1 {
      color: $red;
    }
  }
  p {
    @extend %h2;
    @extend %gothic;
    margin: 0;
    width: auto;
    white-space: nowrap;
    position: absolute;
    top: 4em;
    left: 50%;
    @include transform(translateX(-50%));
    background-color: #D95A49;
    padding: 0.25em;
    color: $antique;
  }
}
