%slide-orange-top-bar {
  h1 {
    @extend %gothic;
    @extend %uppercase;
    text-align: right;
    @extend %h2;
    margin-top: -20px;
    padding-top: 29px;
    padding-right: 0.25em;
    margin-bottom: 0.25em;
    background: {
      color: $orange-vivid;
    }
    color: $white;
    overflow: hidden;
  }
}

#pattern-lab {
  @extend %slide-orange-top-bar;
  .live-examples {
    position: relative;
    top: -1.5rem;
  }
  .illustration {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

%code-slides {
  @extend %slide-orange-top-bar;
  .full-code-examples {
    position: relative;
    top: -1.5rem;
    pre {
      width: 100%;
      height: 584px;
      overflow: hidden;
      margin: 0;
      &.half {
        width: 50%;
        float: left;
        &:nth-of-type(2) {
          border-left: 3px solid $white;
        }
      }
    }
    code {
      max-height: initial;
      height: 100%;

    }
  }
}

#sass-folders {
  @extend %code-slides;
}
[id^="sass-variables"] {
  @extend %code-slides;
}
[id^="sass-extends"] {
  @extend %code-slides;
}
[id^="sass-elements"] {
  @extend %code-slides;
}
[id^="sass-components"] {
  @extend %code-slides;
}
#sass-variables-type {
  h1 {
    font-size: 2.4em;
  }
}
