//////////////////////////////
// Layouts
// Add your layouts here.
//////////////////////////////

.reveal {
  .slides {
    > section {
      padding: 0;
    }
  }
  section {
    height: 100%;
    // padding: 0.25em;
    padding: 0;
  }
}

